$color-white: #FFFFFF;
$color-black: #000000;
$color-teal: #004E5F;
$color-teal-bg: #E3F6F7;
$color-purple-light: #E7EBF3;
$color-teal-light: #DEF7F7;
$color-btn: #BDC0CF;
$color-disabled: #E6EBF4;
$color-error-text: #4D2E3B;
$color-error-background: #FAEBEE;
$color-grey: #E6EBF5;
$color-success: #B4E6E6;
